html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div__container {
    background-color: whitesmoke;
    min-height: 60rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    grid-auto-flow: row;
    gap: 20px;
}

.item   {
    border: 0.5rem solid palegoldenrod;
    font-size: 2rem;
}

.contenedor--autofit {
    border: 0.5rem solid paleturquoise;
    background-color: rgb(109, 30, 57);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.contenedor--autofill {
    border: 0.5rem solid paleturquoise;
    background-color: rgb(109, 30, 57);
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(8rem, 1fr));
}