html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contenedor {
    border: 5px solid palegoldenrod;
    background-color: palegreen;
    display: grid;
    /* grid-auto-columns: 20rem; */
    grid-template-rows: 20rem 20rem 20rem;
    grid-auto-columns: 20rem ;
    grid-auto-flow: column;
    gap: 2rem ;
}

.item  {
    border: 0.5rem solid rgb(251, 152, 152);
    font-size: 4rem;
}