--root:
;
/* Orden estilos 
1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Visual
5. Miselanea
*/


html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 1.6rem;

}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}