/* Orden estilos 
1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Visual
5. Miselanea
*/

:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-Blue: #1a9af7;
    --soft-Blue:#e7f5ff;
    --warm-Black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-White: #FAF8F7;
    --just-White: #fff;

    /* Fuente */
    --bt-font-size-title: 2.4rem;
    --bt-font-size-title-alt: 1.8rem;
    --bt-font-size-text:  1.4rem;
    --bt-font-size-text-alt: 1.5rem;
    --bt-font-height-title: 2.6rem;
    --bt-font-height-title-alt: 1.8rem;
    --bt-font-height-text: 1.8rem;
    --bt-font-height-text-alt: 1.9rem;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 1.4rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__img {
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}

.header__container {
    width: 90%;
    min-width: 28rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-block-start: 4rem;
    text-align: center;
    align-self: center;
}

.header__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-White);
}

.header__parrafo {
    margin-block-start: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-orange);
}

.header__boton {
    position:absolute;
    left: calc(50% - 114px);
    top: 27rem;
    display: block;
    margin-block-start: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-White);
    /* Sombra */
    box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__boton span {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-inline-start: 1rem;
    background-image: url('./icons/down-arrow.svg');
}