.form__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30rem;
    padding: 6rem 0 0 0;
    text-align: center;
    justify-items: center;
}

.form__title {
    margin-block-end: 0.8rem;
    justify-self: left;
    color: var(--black);
    font-size: var(--lg);
    line-height: var(--lineh--lg);
}

.form__subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    line-height: var(--lineh--md);
    font-weight: 300;
    margin-block-end: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}

.form__label {
    margin-block-start: 1.8rem;
    text-align: left;
    font-size: var(--sm);
    font-weight: bold;
}

.form__info {
    margin-block-start: 0.4rem;
    height: 3.2rem;
    color: var(--very-light-pink);
    border: none;
    font-size: var(--md);
    line-height: var(--lineh--md);
    text-align: left;
}

@media (max-width: 640px) {
    /* .button--mobile {
        position: absolute;
        bottom: 2rem;
    } */

    .button--mobile {
        margin-block-end: 3.2rem;
    }

    .form__container {
        height: 100%;
    }

    .form {
        height: 100%;
        justify-content: space-between;
    }
}